<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>导出系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
  <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>

</head>
<body >
<div id="eee">


        <div class="jumbotron">
          <div class="onediv1">
            <h2>🍑邵阳市贫困信息导出系统</h2>
            <br><br>

            <div class="nie">
              <div class="nie1">
              <p>建档立卡信息导出</p>

              <mu-container style=" padding-left: 30px;">
                <mu-row gutter style="width: 700px">
                  <mu-col span="12" lg="4" sm="6">
                    <mu-select  label="地区" v-model="area" full-width>
                      <mu-option  v-for="option,index in options" :key="option" :label="option" :value="option"></mu-option>
                    </mu-select>
                  </mu-col>
                </mu-row>


                <mu-row gutter style="width: 700px">
                  <mu-col span="12" lg="4" sm="6">
                    <mu-select label="脱贫情况" v-model="ping" full-width>
                      <mu-option  v-for="pings,index in pings" :key="pings" :label="pings" :value="pings"></mu-option>
                    </mu-select>
                  </mu-col>
                </mu-row>
              </mu-container>

              <div class="form-group">
                <p>
                  <a class="btn btn-primary btn-lg" href="#" role="button"
                     @click="dao1()"
                     style="margin-left: 10px;     width: 234px;"
                  >
                    导出(可只选一项)
                  </a>

                </p>
              </div>
              </div>
            </div>
            <div class="stu">
              <div class="nie1">
                <p>受助学生信息导出</p>

                <mu-container style=" padding-left: 30px;">
                  <mu-row gutter style="width: 600px">
                    <mu-col span="12" lg="4" sm="6">
                      <mu-select  label="学校" v-model="school" full-width>
                        <mu-option  v-for="schools,index in schools" :key="schools" :label="schools" :value="schools"></mu-option>
                      </mu-select>
                    </mu-col>
                  </mu-row>


                  <mu-row gutter style="width: 600px">
                    <mu-col span="12" lg="4" sm="6">
                      <mu-select  label="受助信息" v-model="msg" full-width>
                        <mu-option  v-for="msgs,index in msgs" :key="msgs" :label="msgs" :value="msgs"></mu-option>
                      </mu-select>
                    </mu-col>
                  </mu-row>
                </mu-container>

                <div class="form-group">
                  <p>
                    <a class="btn btn-primary btn-lg" href="#" role="button"
                       @click="dao2()"
                       style="margin-left: 10px;     width: 234px;"
                    >
                      导出(可只选一项)
                    </a>

                  </p>
                </div>
              </div>
            </div>


          </div>

        </div>
</div>
</body>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script >

  new Vue({
    el: '#eee',
    data: {
        ok: false,
        tiao:false,
        list:[],
        area:'全部',
        options: [
            '全部','北塔区', '双清区', '大祥区', '城步苗族自治县',
            '新宁县', '新邵县', '武冈市', '洞口县',
            '绥宁县', '邵东县', '邵阳县', '邵阳经济开发区',
            '隆回县'
        ],
        ping:'全部',
        pings: [
            '全部','建档立卡未脱贫','建档立卡已脱贫（享受政策）'
        ],
        school:'全部',
        schools: [
              '全部','湘中幼专', '哈博'
        ],
        msg:'全部',
        msgs: [
            '全部','学费中减免','银行卡打款成功'
        ],
    },
    methods:{
      dao1(){
          var area1=this.area;
          var ping1=this.ping;
      if(this.area=="全部"){
          area1="";
       }
      if(this.ping=="全部"){
          ping1="";
          }
        window.location.href='../test/excel?area='+area1+'&ping='+ping1;

      },
        dao2(){
            var school1=this.school;
            var msg1=this.msg;
            if(this.school=="全部"){
                school1="";
            }
            if(this.msg=="全部"){
                msg1="";
            }
            window.location.href='../test/excelStu?school='+school1+'&hm='+msg1;


        }


    },
    mounted() {

        
    }



  })
</script>

<style>
      .onediv1{
        margin:auto;
        /*border: red 1px solid;*/
        width: 880px;
        margin-top: 40px;
      }
      .nie{
        margin-left: 50px;
        border: #949494 1px solid;
        width: 350px;
        background-color: #ffffff;
        border-radius:10px;
        box-shadow:0 0 10px #878787 inset;
        /*margin-top: 100px;*/
      }
      .nie1{
        margin:auto;
        /*border: red 1px solid;*/
        width: 280px;
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .stu{
        margin-left: 50px;
        border: #949494 1px solid;
        width: 350px;
        background-color: white;
        border-radius:10px;
        box-shadow:0 0 10px #878787 inset;

        position: relative;
        left:400px;
        top:-350px;
      }
       .jumbotron{
         height: 800px;
         padding-left: 0px;
       }


</style>
</html>
