<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html>
<head>
    <title>查询</title>
    <meta charset="UTF-8">
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
</head>
<body>
<div id="app">
    <!--标题栏-->
    <mu-appbar style="width: 100%; font-weight: bolder;color: #ffc511" color="#727272" >
        <mu-button icon slot="left">
            <mu-icon value="SY" color="rgb(251, 84, 71)"></mu-icon>
        </mu-button >
        受助学生查询
        <mu-menu slot="right">
            <mu-button flat>查询类型</mu-button>
            <mu-list slot="content">
                <mu-list-item button v-on:click="rel1()">
                    <mu-list-item-content >
                        <mu-list-item-title >建档立卡查询</mu-list-item-title>
                    </mu-list-item-content>
                </mu-list-item>
                <mu-list-item button>
                    <mu-list-item-content>
                        <mu-list-item-title>受助学生查询</mu-list-item-title>
                    </mu-list-item-content>
                </mu-list-item>
            </mu-list>
        </mu-menu>
    </mu-appbar><br>
    <br>
    <br>
    <!--输入信息-->
    <mu-container style=" padding-left: 30px;">



        <mu-form ref="form" :model="validateForm"   class="mu-demo-form">
            <mu-form-item label="姓名" help-text="输入姓名查询" prop="username" :rules="usernameRules">
                <mu-text-field  v-model="validateForm.username" prop="username"></mu-text-field>
            </mu-form-item>
            <mu-form-item label="身份证" help-text="输入身份证查询" prop="password" :rules="passwordRules">
                <mu-text-field   v-model="validateForm.password" prop="password"></mu-text-field>
            </mu-form-item>
            <mu-form-item> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mu-button color="primary" @click="getAll()">查询</mu-button>
            </mu-form-item>
        </mu-form>
    </mu-container>
    <!--<br><br>-->
    <!--表-->
    <mu-container >
        <mu-paper :z-depth="1">
            <div style="height: 150px;padding-left: 150px;padding-top: 60px;" v-if="list.length==0" >
                没有数据
            </div>
            <div  v-for="a in list">
                <div style="margin-left: 20px;padding-top: 20px;padding-bottom: 20px;">


                    <b style="font-weight: bolder">姓
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        名：</b>{{a.name}}

                    <br>
                    <br>
                    <b style="font-weight: bolder">学
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        校：</b>{{a.school}}
                    <br>
                    <br>
                    <b style="font-weight: bolder">受助金额：</b>{{a.helpedmoney}}

                    <br>
                    <br>
                    <b style="font-weight: bolder">受助信息：</b>{{a.helpedMessage}}
                    <br>
                    <br>
                    <b style="font-weight: bolder">受助项目：</b>{{a.helpedProject}}
                    <br>
                    <br>
                    <b style="font-weight: bolder">地址信息：</b>{{a.address}}
                </div>

            </div>
        </mu-paper>
    </mu-container>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<!-- 引入组件库 -->
<script>

    new Vue({
        el: '#app',
        data () {
            return {

                //身份证正则表达式
                p : /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/,
                passwordRules: [
                    { validate: (val) => !!val, message: '请输入身份证进行查询'},
                    { validate: (val) =>  this.p.test(val), message: '输入的格式不正确,请重新输入'}
                ],
                usernameRules: [
                    { validate: (val) => !!val, message: '必须填写姓名'}
                ],
                validateForm: {
                    username: '',
                    password: ''
                },


                list: []
            }
        },
        methods: {
            rel1(){
                console.info("asdfadsf")
                window.location.href="../test/show2";
            },

            getAll() {
                console.info(this.list.length)
                this.$refs.form.validate().then((result) => {
                    if(result==false){
                        return;
                    }
                    console.log('form valid: ', result)

                    var id;
                    // if( this.validateForm.password==''){
                    //     return;
                    // }

                    if (this.p.test(this.validateForm.password)) {
                        id = this.validateForm.password
                        console.info(this.validateForm.password)
                    }else {
                        id='';
                    }
                    //发送 post 请求
                    this.$http.post('/test/fileAllStu'
                        , {name: this.validateForm.username, idCard: id}, {emulateJSON: true}).then(function (res) {
                        // document.write(res.body);
                        this.list=res.body;
                        console.info(res.body)
                    }, function (res) {

                        console.log(res.status);
                    });

                });
            }


        }
    })
</script>

<style>
    .mu-text-field mu-input-content{
        margin-left: 15px;
    }

    . container{
        padding-left: 20px;
    }

    .mu-demo-form{
        width:88%;
        max-width: 460px;
    }
</style>
</html>