<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <meta charset="UTF-8">
    <!--<meta name="apple-mobile-web-app-status-bar-style" content="#727272" />-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=0">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css">
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
</head>
<body>
<div id="app">
    <mu-container>
        <mu-form ref="form" :model="validateForm" class="mu-demo-form">
            <mu-form-item label="用户名" help-text="输入姓名查询" prop="username" >
                <mu-text-field v-model="validateForm.username" prop="username"></mu-text-field>
            </mu-form-item>
            <mu-form-item label="身份证" help-text="输入身份证查询" prop="password" :rules="passwordRules">
                <mu-text-field  v-model="validateForm.password" prop="password"></mu-text-field>
            </mu-form-item>

        </mu-form>
    </mu-container>

</div>
</body>
<script>

   new Vue({
       el: '#app',
        data () {
            return {
                // usernameRules: [
                //     { validate: (val) => !!val, message: '必须填写用户名'},
                //     { validate: (val) => val.length >= 3, message: '用户名长度大于3'}
                // ],
                 p : /^[1-9]\d{5}(18|19|20)\d{2}((0[1-9])|(1[0-2]))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/,
                passwordRules: [
                    { validate: (val) => !!val, message: '必须填写正确的身份证号码'},
                    { validate: (val) => val.length==18 && this.p.test(val), message: '输入的格式不正确'}
                ],
                // argeeRules: [{ validate: (val) => !!val, message: '必须同意用户协议'}],
                validateForm: {
                    username: '',
                    password: ''
                }
            }
        },
        methods: {
            submit () {
                this.$refs.form.validate().then((result) => {
                    console.log('form valid: ', result)
                });
            }


        }
    });
</script>
<style>
    .mu-demo-form {
        width: 100%;
        max-width: 460px;
    }
</style>
</html>